<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>
<div id="console" class="container">console</div>


<script th:inline="javascript">
 /*<![CDATA[*/
 prepare();
 let con = false;
function httpGet(url)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", url, false ); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
}
function prepare(){
divs="";
var data = JSON.parse(httpGet("http://localhost:8080/files"));

data.forEach(function(top){
divs += '<div class="card" style="float: left; width: 16rem;">'+
            '<img src="open.png" class="card-img-top" alt="..."><div class="card-body">'+
            '<h5 class="card-title">Card with stretched link</h5><p class="card-text">'+
            top.substring(41)+
            '</p><button onclick="remove(\''+top+'\')" class="btn">Remove</button>'+
            '</p><button onclick="add(\''+top+'\')" class="btn">Add</button>'+
            '</div></div>';
});
document.getElementById("console").innerHTML = divs;
}

function remove(file){
con = confirm('Potwierdź usunięcie elementu!');
if(con){
httpGet("http://localhost:8080/remove?file="+file);
}
prepare();
}

function add(file){
let dir = prompt('Wprowadź nazwę nowego elementu:');
httpGet("http://localhost:8080/add?file="+file+"&newdir="+dir);
prepare();
}

/*]]>*/

</script>
</body>
</html>